services:
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    hostname: kafka
    ports:
      - "29092:29092"
    environment:
      CLUSTER_ID: "MkU3OEVBNTcwNTJENDM2Qk"
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENERS: "PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,PLAINTEXT_HOST://0.0.0.0:29092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  schema-registry:
    image: confluentinc/cp-schema-registry:latest
    container_name: schema-registry
    hostname: schema-registry
    depends_on:
      - kafka
    ports:
      - "8081:8081"
    environment:
      SCHEMA_REGISTRY_HOST_NAME: schema-registry
      SCHEMA_REGISTRY_LISTENERS: "http://0.0.0.0:8081"
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: "PLAINTEXT://kafka:9092"

  # schema-registry:
  #   image: apicurio/apicurio-registry:latest-release
  #   container_name: schema-registry
  #   hostname: schema-registry
  #   depends_on:
  #     - kafka
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     APICURIO_STORAGE_KIND: "kafkasql"
  #     APICURIO_KAFKASQL_BOOTSTRAP_SERVERS: "kafka:9092"

  kafbat:
    image: ghcr.io/kafbat/kafka-ui:latest
    container_name: kafbat
    depends_on:
      - kafka
      - schema-registry
    ports:
      - "8080:8080"
    volumes:
      - ./kafbat-proto:/etc/kafkaui/proto:ro
    environment:
      DYNAMIC_CONFIG_ENABLED: "true"
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092"
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: "http://schema-registry:8081"
      KAFKA_CLUSTERS_0_DEFAULTKEYSERDE: "String"
      KAFKA_CLUSTERS_0_DEFAULTVALUESERDE: "SchemaRegistry"
      KAFKA_CLUSTERS_0_SERDE_0_NAME: "ProtobufFilePlain"
      KAFKA_CLUSTERS_0_SERDE_0_CLASSNAME: "io.kafbat.ui.serdes.builtin.ProtobufFileSerde"
      KAFKA_CLUSTERS_0_SERDE_0_TOPICVALUESPATTERN: "^customer-events-plain$"
      KAFKA_CLUSTERS_0_SERDE_0_PROPERTIES_PROTOBUFFILESDIR: "/etc/kafkaui/proto"
      KAFKA_CLUSTERS_0_SERDE_0_PROPERTIES_PROTOBUFMESSAGENAME: "example.v1.EventEnvelope"
